/* Color
----------------------- */

$color-primary: #FF5777;
$color-white: #FFFFFF;
$color-black: #000000;

/* text-Color
----------------------- */

$color-text-primary: #333333;
$color-text-secondary: #666666;
$color-text-tertiary: $color-white;
$color-text-quaternary: $color-primary;

/* border-Color
----------------------- */
$border-color-base: #E5E5E5;


/* background-Color
----------------------- */

$background-color-primary: #F1F1F1;
$background-color-secondary: $color-white;
$background-color-tertiary: $color-primary;


/* Border
----------------------- */
$border-width-base: 1Px !default;
$border-style-base: solid !default;
$border-base: $border-width-base $border-style-base $border-color-base !default;

/* font-size
----------------------- */

$font-12:12px;
$font-14:14px;
$font-20:20px;


/* font-weight
----------------------- */

$fw100:100;
$fw200:200;
$fw300:300;
$fw400:400;
$fw500:500;
$fw600:600;
$fw700:700;
$fw800:800;
$fw900:900;
$fbold:bold;

/*height
----------------------- */

/*width
----------------------- */

/*padding
----------------------- */

/*margin
----------------------- */

/*flex
----------------------- */
$flex:flex


/* line-height
----------------------- */






 
